<div class = 'edit_profile'>
    <h1>Change Password</h1>
    <% if message.present? %>
        <div class="flash">
            <%= message %>
        </div>
    <% end %>
    <form action='/update_password' method='post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label>Old Password:</label>
        <input type="password" id="old_password" name="user[password]" required>
        <label>New Password:</label>
        <input type="password" id="new_password" name="user[new_password]" required>
        <label>Old Password:</label>
        <input type="password" id="password_confirmation" name="user[password_confirmation]" required>
        <div class = 'edit_footer'>
            <button class = 'edit_button' type="submit">Update</button>
            <a href='/profile'>Go back</a>
        </div>
    </form>
</div>