<aside>
    <h1>RelieveMD</h1>
    <ul>
        <div class='list'>
            <li><a href="/posts">Available Shifts</a></li>
        </div>
        <div class='list'>
            <li><a href="/posts/applicants">My shifts</a></li>
        </div>
        <div class='list'>
            <li><a href="/posts/applied">Applied Shifts</a></li>
        </div>
        <div class='list'>
            <li><a href="/rooms">Messages</a></li>
        </div>
        <div class='list'>
            <li><a href="/posts/nearby">Nearby Shifts</a></li>
        </div>
    </ul>
</aside>